body {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}


.meal {
  border: 5px solid red;
  border-radius: 30px;
  width: 300px;
  margin-top: 20px;
}

@media screen and (min-width: 501px) {
  .meal {
    border: none;
    border-radius: 0;
    
  }
}

@media screen and (min-width: 851px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
  }
  .meal {
    width: auto;
    margin:0
  }
}

@media screen and (min-width: 1201px) {
  .gallery {
    min-width: 1300px;
    max-width: 1300px;
    flex-direction: row;
    justify-content: center;
  }
  
  .meal {
    border: 5px solid red;
    margin-left: 10px;
  }
}
